* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
}
* h1 {
  font-family: "Shrikhand", cursive;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  animation: loader-disapear 3s ease-in-out;
}
@keyframes loader-disapear {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
.loader .fa-magnifying-glass,
.loader .fa-fork {
  font-size: 5rem;
  color: lightblue;
  z-index: 3;
  animation: loader 3s ease-in-out both;
}
@keyframes loader {
  0% {
    opacity: 1;
    transform: rotate(-1080deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.header--accueil {
  width: 100%;
}
.header--accueil img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 1rem;
}
.header--menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.header--menu i {
  display: block;
  margin-left: 2vw;
  margin-right: auto;
  font-size: 2rem;
}
.header--menu img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 1rem;
}
.header--menu a {
  color: black;
  text-decoration: none;
}

.localisation {
  width: 100%;
  background-color: rgb(238, 237, 237);
  text-align: center;
}
.localisation__ville {
  box-shadow: inset 0px 5px 20px -18px black;
  background-color: rgb(227, 226, 226);
}
.localisation__ville i {
  padding: 1rem;
}
.localisation__find-restaurant h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 3rem 1rem 3rem;
}
.localisation__find-restaurant p {
  color: grey;
  font-size: 1.2rem;
  padding: 0 0.5rem 1rem 0.5rem;
}
.localisation__button {
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 5px 28px -8px black;
  margin: 1rem 0 3rem 0;
  cursor: pointer;
}
.localisation__button:hover {
  background: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 0 5px 20px -2px black;
}

.fonctionnement {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement a {
  color: black;
  text-decoration: none;
}
@media (max-width: 620px) {
  .fonctionnement {
    display: block;
  }
}
.fonctionnement h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 1rem 1rem;
}
@media (max-width: 620px) {
  .fonctionnement h2 {
    text-align: left;
  }
}
.fonctionnement__etapes {
  position: relative;
  margin: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 8px lightgrey;
}
.fonctionnement__etapes span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
}
.fonctionnement__etapes p {
  padding: 20px;
}
.fonctionnement__etapes i {
  padding-right: 1rem;
}
.fonctionnement__etapes:hover {
  background-color: #f2eafb;
  box-shadow: 0 0 16px lightgrey;
}
.fonctionnement__etapes:hover i {
  color: #9356dc;
}

.restaurant {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding-bottom: 2rem;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant a {
  color: black;
  text-decoration: none;
}
.restaurant a {
  width: 45%;
}
@media (max-width: 620px) {
  .restaurant {
    display: block;
  }
  .restaurant a {
    width: 100%;
  }
}
.restaurant h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 1rem 1rem;
}
@media (max-width: 620px) {
  .restaurant h2 {
    text-align: left;
  }
}
.restaurant__vignette {
  position: relative;
  margin: 0 1rem 2rem 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
}
.restaurant__vignette img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__vignette h3 {
  padding: 0.4rem 0 0.3rem 0.7rem;
}
.restaurant__vignette p {
  padding: 0 0 0.5rem 0.7rem;
}
.restaurant__vignette span {
  padding: 2px 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #99e2d0;
  border-radius: 5px;
}
.restaurant__vignette .fa-solid {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 1.5rem;
}
.restaurant__vignette .fa-regular {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 1.5rem;
}
.restaurant__vignette .fa-regular:hover + .fa-solid {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__vignette .fa-regular:hover {
  opacity: 0;
}

.photo-restaurant {
  display: block;
  width: 80%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
@media (max-width: 620px) {
  .photo-restaurant {
    width: 100%;
    height: 300px;
  }
}

.menu {
  width: 80%;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(-80px);
  background-color: rgb(238, 237, 237);
  position: relative;
}
@media (max-width: 620px) {
  .menu {
    width: 100%;
  }
}
.menu h1 {
  padding: 1rem;
  font-size: 8vw;
  width: 85%;
}
.menu .fa-solid {
  display: none;
  position: absolute;
  top: 22px;
  right: 15px;
  font-size: 8vw;
}
.menu .fa-regular {
  position: absolute;
  top: 22px;
  right: 15px;
  font-size: 8vw;
}
.menu .fa-regular:hover + .fa-solid {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .fa-regular:hover {
  opacity: 0;
}
.menu__part {
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__part a {
  color: black;
  text-decoration: none;
}
.menu__part .delay-1 {
  animation-delay: 150ms;
}
.menu__part .delay-2 {
  animation-delay: 300ms;
}
.menu__part .delay-3 {
  animation-delay: 450ms;
}
.menu__part .delay-4 {
  animation-delay: 600ms;
}
.menu__part .delay-5 {
  animation-delay: 750ms;
}
.menu__part .delay-6 {
  animation-delay: 900ms;
}
.menu__part .delay-7 {
  animation-delay: 1050ms;
}
.menu__part .delay-8 {
  animation-delay: 1200ms;
}
.menu__part .delay-9 {
  animation-delay: 1350ms;
}
.menu__part .delay-10 {
  animation-delay: 1500ms;
}
@media (max-width: 620px) {
  .menu__part {
    display: block;
  }
}
.menu__part a {
  width: 30%;
}
.menu__part h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 1.3rem;
  position: relative;
  padding: 0.5rem 1rem;
}
@media (max-width: 620px) {
  .menu__part h2 {
    text-align: left;
  }
}
.menu__part h2::after {
  content: "";
  width: 10%;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 620px) {
  .menu__part h2::after {
    left: 1rem;
    transform: translateX(0);
  }
}
.menu__vignette {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  animation: card-apparition 1000ms ease-in-out both;
}
@keyframes card-apparition {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__vignette:hover .menu__vignette__check {
  margin-right: 0;
}
.menu__vignette:hover .fa-check {
  animation: check-rotate 500ms ease-in-out 150ms;
}
@keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu__vignette__description {
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.menu__vignette__description h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__vignette__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__vignette__prix {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}
.menu__vignette__check {
  background-color: #99e2d0;
  width: 3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -3rem;
  display: flex;
  justify-content: center;
  transition: margin-right 500ms ease-in-out;
}
.menu__vignette__check .fa-check {
  background-color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 50%;
  color: #99e2d0;
  margin: auto;
}
.menu__button {
  width: 100%;
  text-align: center;
}
.menu__button button {
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 5px 28px -8px black;
  margin: 1rem 0 3rem 0;
  cursor: pointer;
}
.menu__button button:hover {
  background: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 0 5px 20px -2px black;
}

footer {
  margin-top: 0;
  width: 100%;
  background-color: rgb(52, 51, 51);
  padding: 1rem;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (max-width: 620px) {
  footer {
    display: block;
  }
}
footer h1 {
  width: 100%;
  color: white;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 620px) {
  footer h1 {
    text-align: left;
  }
}
footer a {
  color: white;
  padding: 0.2rem 0;
}
footer a .fa-utensils {
  padding-right: 0.7rem;
}
footer a .fa-handshake-angle {
  padding-right: 0.4rem;
}

/*# sourceMappingURL=style.css.map */
