* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
}
* h1 {
  font-family: "Shrikhand", cursive;
}

.header--accueil {
  width: 100%;
}
.header--accueil img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 1rem;
}
.header--menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.header--menu i {
  display: block;
  margin-left: 2vw;
  margin-right: auto;
  font-size: 2rem;
}
.header--menu img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 1rem;
}
.header--menu a {
  color: black;
  text-decoration: none;
}

.localisation {
  width: 100%;
  background-color: rgb(238, 237, 237);
  text-align: center;
}
.localisation__ville {
  box-shadow: inset 0px 5px 20px -18px black;
  background-color: rgb(227, 226, 226);
}
.localisation__ville i {
  padding: 1rem;
}
.localisation__find-restaurant h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 3rem 1rem 3rem;
}
.localisation__find-restaurant p {
  color: grey;
  font-size: 1.2rem;
  padding: 0 0.5rem 1rem 0.5rem;
}
.localisation__button {
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 5px 28px -10px black;
  margin: 1rem 0 3rem 0;
  cursor: pointer;
}

.fonctionnement {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement a {
  color: black;
  text-decoration: none;
}
@media (max-width: 620px) {
  .fonctionnement {
    display: block;
  }
}
.fonctionnement h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 1rem 1rem;
}
@media (max-width: 620px) {
  .fonctionnement h2 {
    text-align: left;
  }
}
.fonctionnement__etapes {
  position: relative;
  margin: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 8px lightgrey;
}
.fonctionnement__etapes span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
}
.fonctionnement__etapes p {
  padding: 20px;
}
.fonctionnement__etapes i {
  padding-right: 1rem;
}
.fonctionnement__etapes:hover {
  background-color: #f2eafb;
  box-shadow: 0 0 16px lightgrey;
}
.fonctionnement__etapes:hover i {
  color: #9356dc;
}

.restaurant {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding-bottom: 2rem;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant a {
  color: black;
  text-decoration: none;
}
.restaurant a {
  width: 45%;
}
@media (max-width: 620px) {
  .restaurant {
    display: block;
  }
  .restaurant a {
    width: 100%;
  }
}
.restaurant h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 1rem 1rem;
}
@media (max-width: 620px) {
  .restaurant h2 {
    text-align: left;
  }
}
.restaurant__vignette {
  position: relative;
  margin: 0 1rem 2rem 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
}
.restaurant__vignette img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__vignette h3 {
  padding: 0.4rem 0 0.3rem 0.7rem;
}
.restaurant__vignette p {
  padding: 0 0 0.5rem 0.7rem;
}
.restaurant__vignette span {
  padding: 2px 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #99e2d0;
  border-radius: 5px;
}
.restaurant__vignette .fa-solid {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 1.5rem;
}
.restaurant__vignette .fa-regular {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 1.5rem;
}
.restaurant__vignette .fa-regular:hover + .fa-solid {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo-restaurant {
  display: block;
  width: 80%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
@media (max-width: 620px) {
  .photo-restaurant {
    width: 100%;
    height: 300px;
  }
}

.menu {
  width: 80%;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(-80px);
  background-color: rgb(238, 237, 237);
  position: relative;
}
@media (max-width: 620px) {
  .menu {
    width: 100%;
  }
}
.menu h1 {
  padding: 1rem;
  font-size: 2.5rem;
}
.menu .fa-solid {
  display: none;
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 2.5rem;
}
.menu .fa-regular {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 2.5rem;
}
.menu .fa-regular:hover + .fa-solid {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__part {
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__part a {
  color: black;
  text-decoration: none;
}
@media (max-width: 620px) {
  .menu__part {
    display: block;
  }
}
.menu__part a {
  width: 30%;
}
.menu__part h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 1.3rem;
  position: relative;
  padding: 0.5rem 1rem;
}
@media (max-width: 620px) {
  .menu__part h2 {
    text-align: left;
  }
}
.menu__part h2::after {
  content: "";
  width: 10%;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 620px) {
  .menu__part h2::after {
    left: 1rem;
    transform: translateX(0);
  }
}
.menu__vignette {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
  padding: 1rem;
  margin: 1rem;
}
.menu__vignette__details {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0 0 0;
}
.menu__button {
  width: 100%;
  text-align: center;
}
.menu__button button {
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 5px 28px -10px black;
  margin: 1rem 0 3rem 0;
  cursor: pointer;
}

footer {
  margin-top: 0;
  width: 100%;
  background-color: rgb(52, 51, 51);
  padding: 1rem;
  display: flex;
  column-gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (max-width: 620px) {
  footer {
    display: block;
  }
}
footer h1 {
  width: 100%;
  color: white;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 620px) {
  footer h1 {
    text-align: left;
  }
}
footer p {
  color: white;
  padding: 0.2rem 0;
}
footer p .fa-utensils {
  padding-right: 0.7rem;
}
footer p .fa-handshake-angle {
  padding-right: 0.4rem;
}

/*# sourceMappingURL=style.css.map */
