/*File containing SCSS used for the layout of the 3 card explaining how this website works*/

.fonctionnement {
    width: 100%;
    margin: 2rem 0;
    @include flexbox(center,center, wrap);
    column-gap: 2vw;
    @media (max-width: 620px) {
        display: block;
    }
    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0.5rem 1rem 1rem;
        @media (max-width: 620px) {
            text-align: left;
        }
    }
    &__etapes {
        position: relative;
        margin: 1rem 2rem;
        border-radius: 15px;
        box-shadow: 0 0 8px lightgrey;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            background-color: $primary-color;
            color: white;
            border-radius: 50%;
            padding: 2px 7px;
        }
        p {
            padding: 20px;
        }
        i {
            padding-right: 1rem;
        }
        &:hover {
            background-color: lighten($primary-color, 35%);
            box-shadow: 0 0 16px lightgrey;
            i {
                color: $primary-color;
            }
        }
        @media (max-width: 620px) {
            &:active {
                background-color: lighten($primary-color, 35%);
                box-shadow: 0 0 16px lightgrey;
            }
        }
    }
}
