
.loader {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader-disapear 3s ease-in-out;
    background-color: $localisation__ville-color;
    z-index: -1;
    opacity: 0;
    &__icone--visible {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: solid 1px $primary-color;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icone--hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loader-scroll 3s ease-in-out both;
        .fa-solid {
            color: $primary-color;
            font-size: 6rem;
            margin: 0;
            padding: 0 4rem;
        }
    }
}

