.photo-restaurant {
    display: block;
    width: 80%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin: auto;
    @media (max-width: 620px) {
        width: 100%;
        height: 300px;
    }
}

.menu {
    width: 80%;
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-80px);
    background-color: rgb(238, 237, 237);
    position: relative;
    @media (max-width: 620px) {
        width: 100%;
    }
    h1 {
        padding: 1rem;
        font-size: 2.5rem;
    }
    .fa-solid {
        display: none;
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 2.5rem;
    }
    .fa-regular {
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 2.5rem;
        &:hover + .fa-solid {
            display: block;
            background: -webkit-linear-gradient($primary-color, $secondary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__part {
        @include link-without-layout;
        display: flex;
        column-gap: 2vw;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 620px) {
            display: block;
        }
        a {
            width: 30%;
        }
        h2 {
            width: 100%;
            text-align: center;
            font-weight: normal;
            font-size: 1.3rem;
            position: relative;
            padding: 0.5rem 1rem;
            @media (max-width: 620px) {
                text-align: left;
            }
            &::after {
                content: "";
                width: 10%;
                height: 3px;
                background: $ternary-color;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 620px) {
                    left: 1rem;
                    transform: translateX(0);
                }
            }
        }
    }
    &__vignette {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px grey;
        padding: 1rem;
        margin: 1rem;
        &__details {
            display: flex;
            justify-content: space-between;
            padding: 0.4rem 0 0 0;
        }
    }
    &__button {
        width: 100%;
        text-align: center;
        button {
            @include button;
        }
    }
}
