/*This files gather 
- layout, 
- H1, 
- heart
- button 
for the layout of the menu for each restaurant*/
.menu {
    width: 80%;
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -80px;
    background-color: rgb(238, 237, 237);
    position: relative;
    @media (max-width: 620px) {
        width: 100%;
    }
    h1 {
        padding: 1rem;
        font-size: 4vw;
        width: 100%;
        @media (max-width: 620px) {
            font-size: 1.5rem;
        }
    }
    @include heart-placement--menupage;
    &__button {
        width: 100%;
        text-align: center;
        button {
            @include button;
        }
    }
}
