.restaurant {
    @include link-without-layout;
    width: 100%;
    background-color: rgb(238, 237, 237);
    padding-bottom: 2rem;
    display: flex;
    column-gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    a {
        width: 45%;
    }
    @media (max-width: 620px) {
        display: block;
        a {
            width: 100%;
        }
    }
    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0.5rem 1rem 1rem;
        @media (max-width: 620px) {
            text-align: left;
        }
    }
    &__vignette {
        position: relative;
        margin: 0 1rem 2rem 1rem;
        border-radius: 15px;
        box-shadow: 0 0 10px grey;
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        h3 {
            padding: 0.4rem 0 0.3rem 0.7rem;
        }
        p {
            padding: 0 0 0.5rem 0.7rem;
        }
        span {
            padding: 2px 4px;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            background-color: $ternary-color;
            border-radius: 5px;
        }
        .fa-solid {
            display: none;
            position: absolute;
            bottom: 15px;
            right: 30px;
            font-size: 1.5rem;
        }
        .fa-regular {
            position: absolute;
            bottom: 15px;
            right: 30px;
            font-size: 1.5rem;
            &:hover + .fa-solid {
                display: block;
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
